/* https://www.w3schools.com/cssref/css_default_values.php */

@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

a:link {
    color: (internal value);
    text-decoration: underline;
    cursor: pointer;
}
a:visited {
    color: (internal value);
    text-decoration: underline;
    cursor: auto;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
    /* margin-right: 40px; */
    padding-left: 1em;
    border-left: 4px solid black;
}
ul {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

pre {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1.5em;
    background-color: #16181d;
    color: #ffffff;
    border-radius: 10px;
}
code {
    background-color: rgba(175, 184, 193, 0.2);
    color: #24292f;
    border-radius: 6px;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
}
pre code{
    background-color: #16181d;
    color: #ffffff;
}

th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0.4em;
}

th {
    background-color: rgba(175, 184, 193, 0.2);
}

